/* Style tetap untuk konten */
.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.kakibiru {
  margin-left: 5px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 331px;
  height: 384px;
}

.det1dan2 {
  margin-top: 40px;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  width: 148px;
    height: 148px;
}
/* Tambahkan aturan media query di sini */
@media (max-width: 768px) {
  .kakibiru {
    display: flex;
    width: 320px;
    height: 375px;
    margin-left: 20%;
  }
  .det1dan2 {
    width: 80px;
    height: 80px;
    
    
  }
}
@media (max-width: 425px) {
  .det1dan2 {
    flex-direction: column;
    margin-left: 200px;
  }
  
  .det1dan2 img {
    margin-top: 380px; /* Berikan margin antara gambar */
    width: 80px; /* Atur lebar gambar */
    height: 80px; /* Atur tinggi gambar */
  }
}

.section1 {
  margin-left: 80px;
  order: 2; 
}
.pack {
  margin-top: 70px;
  color: #0c152a;
  font-family: "GitLab Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
  opacity: 0.6;
}
.blacks {
  align-self: stretch;
  color: var(--Neutral-100, #434040);
  font-family: "GitLab Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 200% */
  letter-spacing: 0.48px;
}
.bungkus-card {
  align-items: center;
  padding: -2px;
  flex-shrink: 0;
}
.p {
  color: var(--Neutral-100, #434040);
  font-family: "GitLab Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
  flex-grow: 5;
  margin-left: 210px;
  margin-top: 5px;
}
.bungkus-card img {
  height: 16px;
}

.bungkus-price {
  display: flex;
}
.price1 {
  color: var(--Primary-70, #00a4df);
  font-family: "GitLab Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: 0.36px;
}
.price2 {
  color: var(--Neutral-40, #bdbdbd);
  font-family: "GitLab Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-left: 28px;
}
.line {
  border-top: 1px solid #004a65; /* Garis horizontal dengan ketebalan 1px */
  padding: 20px;
}
.color {
  color: var(--Neutral-100, #434040);
  font-family: "GitLab Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.36px;
}
/* Bulat */
.flex {
  display: flex;
  padding-left: -20px;
  margin-top: 8px;
}
.bulat {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 3px solid var(--Primary-70, #00a4df);
  background: #f7dcb4;
  transition: transform 0.4s ease, margin 0.4s ease;
  margin-right: 14px;
}
.bulat:active {
  transform: scale(2.2);
  margin: 5px;
}
.white {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid var(--Neutral-50, #a9a9a9);
  background: #fff;
  transition: transform 0.4s ease, margin 0.4s ease;
  margin-right: 14px;
}
.white:active {
  transform: scale(2.2);
  margin: 5px;
}
.navy {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid #eee;
  background: #051c3b;
  transition: transform 0.4s ease, margin 0.4s ease;
  margin-right: 14px;
}
.navy:active {
  transform: scale(2.2);
  margin: 5px;
}
.grey {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid #eee;
  background: #959c97;
  transition: transform 0.4s ease, margin 0.4s ease;
  margin-right: 14px;
}
.grey:active {
  transform: scale(2.2);
  margin: 5px;
}
.s {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Neutral-10, #f9fcfe);
  border-radius: 8px;
  border: none;
  background: var(--Primary-70, #00a4df);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.28px;
  margin-right: 12px;
}

.m {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Primary-70, #00a4df);
  background-color: white;
  margin-right: 12px;
}
.deskripsi {
  margin-top: 50px;
  padding-bottom: 8px;
  border: none;
  background: white;
  text-align: left;
  color: var(--Secondary-90, #856000);
  flex: 1 0 0;
  font-family: "GitLab Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.fancy {
  color: var(--Neutral-100, #434040);
  margin-left: 8px;
  margin-top: 25px;
  font-family: "GitLab Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.28px;
  height: 352px;
  width: 383px;
}
.fabric {
  padding-bottom: 5px;
  border: none;
  background: white;
  text-align: left;
  color: var(--Secondary-90, #856000);
  flex: 1 0 0;
  font-family: "GitLab Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid #004a65; /* Misalnya, membuat garis bawah hitam sebesar 2px */
}
.kotak {
  border-radius: 8px;
  border: 1px solid var(--Neutral-40, #bdbdbd);
  background: var(--Neutral-10, #fafafa);
  width: 236px;
  height: 748px;
  margin-left: 68px;
  margin-top: 75px;
}
.set {
  width: 220px;
  color: var(--Neutral-100, #434040);
  margin-top: 8px;
  margin-left: 8px;
  font-family: "GitLab Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: 0.36px;
}
.button {
  display: flex;
  width: 220px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Primary-70, #00a4df);
  margin-left: 8px;
  margin-top: 8px;
}
.click {
  margin-right: 70px;
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #00a4df;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.lineq {
  border: 1px solid var(--Neutral-40, #bdbdbd); /* Garis horizontal dengan ketebalan 1px */
  margin-top: 16px;
  width: 210px;
  margin-left: 12px;
  margin-bottom: 16px;
}
.typ {
  width: 220px;
  height: 130px;
  padding: 8px 9px 8px 8px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-30, #d2d2d2);
  margin-left: 8px;
  color: #bdbdbd;
  font-family: "GitLab Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0.24px;
}
.priceq {
  color: var(--Primary-70, #00a4df);
  font-family: "GitLab Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.36px;
  margin-top: 10px;
  margin-right: 8px;
}
.buttonq {
  display: flex;
  width: 220px;
  justify-content: left;
  align-items: center;
  background: white;
  border-radius: 8px;
  border: 1px solid var(--Primary-70, #00a4df);
  color: var(--Primary-90, #00688d);
  font-family: "GitLab Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.28px;
  font-weight: 700;
  margin-left: 8px;
  margin-top: 12px;
  transition: background-color 0.3s ease;
}

.buttonq:hover {
  background-color: var(--Primary-20, #e6f4f1);
  cursor: pointer;
}
@media (max-width: 425px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .imgfluid {
    width: 100%; /* Gambar akan mengisi lebar parent */
    height: auto; /* Ketinggian gambar menyesuaikan proporsi */
    max-width: 300px; /* Maksimum lebar gambar */
    margin-top: 20px; /* Atur jarak atas gambar */
  }
  .playicon {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin-top: 10px; /* Atur jarak atas ikon play */
  }
}