@media (max-width: 1440px){
    .product-1 {
        padding: 70px;        
    }
    .product-1 img {
        width: 100%;
        z-index: 1;
    }
    .bungkus-text-1 {
        margin-left: auto;
        margin-right: 80px;
        width: 423px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }
    .product-1 h1 {
        background-color: #00A4DF;
        color: white;
        text-align: center;
        font-size: 16px;
        width: 423px;
        height: 28px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 3px;
        margin-top: -420px;
        z-index: 5;
        position: relative;
        font-family: "GitLab Sans", sans-serif;
        font-weight: 600;
    }
    .product-1 h2 {
        width: 423px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .product-1 .atas {
        font-size: 96px;
        font-weight: 400;
        font-family: 'Baloo 2', sans-serif;
        color: white;
        text-align: center;
        margin-top: 15px;
    }
    .product-1 .bungkus-text-1 p {
        font-weight: 700;
        margin-top: -20px;
        font-family: 'Baloo 2', sans-serif;
        font-size: 96px;
        color: white;
        justify-content: center;
        text-align: center;
        width: 423px;
        align-items: center;
    }
    .product-1 h3 {
        font-size: 16px;
        text-align: center;
        width: 423px;
        color: white;
        margin-top: -20px;
        font-family: "GitLab Sans", sans-serif;
        font-weight: 600;
    }
    .bungkus-text-1 button {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        width: 172px;
        height: 40px;
        font-size: 14px;
        background-color: #00A4DF;
        color: #004A65;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        font-family: "GitLab Sans", sans-serif;
        transition: background-color 0.3s; 
      }
      
      .bungkus-text-1 button:hover {
        background-color: white; /* Warna yang berbeda saat tombol dihover */
      }



      /* SECTION 2 */
      .product-2 {
        padding: 70px;
      }      
      .product-2 h1 {
        font-family: "GitLab Sans", sans-serif;
        font-weight: 600;
        font-size: 32px;
        color: #434040;
        margin-top: -90px;
      }      
      .dropdown {
        /* display: flex; */
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
      }     
      .product-2 .dropdown1{
        border: 2px solid #00A4DF;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        width: 220px;
        color: #00688D;
      }
      .product-2 .dropdown2{
        border: 2px solid #00A4DF;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        width: 220px;
        color: #00688D;
        margin-top: 20px;
      }
      .product-2 .button {
        justify-content: space-between;
        max-width: 220px;
        margin-right: auto; 
      }
      .product-2 .buttons {
        border-radius: 10px;
        border: 2px solid #ACB5BA;
        color: #808080;
        padding: 3px;
        width: 100px;
      }
      .product-2 .buttons.active {
        border-color: #00A4DF;
        color: #00A4DF;
        background: none;
      }
      .product-2 .button-show{
        background: #00A4DF;
        color: #F9FCFE;
        width: 220px;
        height: 40px;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
      }
      .product-2 .button-show:hover{
        background: white;
        color: #FFB800;
        border: 2px solid #FFB800;
      }
      .product-2 .button-clear{
        color: #FFB800;
        width: 220px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid #FFB800;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
        background: none;
      }
      .cover-product{
        display:flex;
        justify-content: space-between;
      }
      .menu h1 {
        color: #FFB800;
        font-size: 16px;
        font-weight: 600;
        margin-top: auto;
        border-bottom: 2px solid #FFB800;
        text-align: center;
        width: 150px;
      }
      .menu {
        display: flex;
        justify-content: space-between;
        gap: 145px;
        margin-top: 60px;
      }      
      .menu h2 {
        font-size: 16px;
        /* width: 80px; */
        color: #00688D;
      }
      .card-container {
        display: flex;
        flex-wrap: wrap; /* Menggunakan wrap agar jika tidak muat ke samping, akan ke baris berikutnya */
        justify-content: space-between;
        margin-top: 20px; /* Sesuaikan dengan margin yang diinginkan */
        width: 800px;
        
      }
    .card{
        width: 250px;
        margin-bottom: 20px;
        position: relative;
        justify-content: space-between;
        
    }
    .card .black{
        width: 270px;
    }
    .card .like{
        position: absolute;
        top: 20px;
        z-index: 1;
        padding: 2px;
        margin-left: 200px;
    }
    .card .cover{
        margin-top: -175px;
        position: absolute;
        padding: 3px;
        width: auto;
    }
    .card h1{
        font-size: 14px;
        font-weight: 600;
        color: #434040;
        font-family: "GitLab Sans", sans-serif;
        width: auto;
        text-align: start;
        margin-top: 42px;
    }
    .hero3 .star1{
        width: 12px;
    }
    .bungkus-card{
        display: flex;
        justify-content: space-between;        
    }
    .bungkus-card img{
        height: 16px;
    }
    .card h2{
        padding: 15px;
        margin-top: -30px;
        display:flex;
    }
    .card h2 p{
        font-size: 12px;
        color: #434040;
        font-weight: 400;
        margin-left: auto;
    }
    .card h3{
        padding: 15px;
        margin-top: -30px;
        display:flex;
    }
    .bungkus-price{
        display: flex;
        margin-top: -10px;
    }
    .price1{
        font-size: 15.07px;
        color: #00A4DF;
    }
    .price2{
        color: #BDBDBD;
        font-size: 15.07px;
        margin-left: 10px;
    }
    .card button{
        font-family: "GitLab Sans", sans-serif;
        font-weight: 600;
        font-size: 10px;
        width: 46.24px;
        height: 25.62px;
        color: #F9FCFE;
        background-color: #FFB800;
        border-radius: 5px;
        border: none;
        margin-left: auto;
        margin-top: -10px;
    }
    .card button:hover {
        background-color: white; /* Warna yang berbeda saat tombol dihover */
        color: black;
      }
    

      /* SECTION 3 */
      .product-3{
        padding: 70px;
        margin-top: -90px;
      }
      .bungkus-judul{
        display: flex;
        justify-content: space-between;
        
      }
      .kanan{
        display: flex;
      }
      .product-3 h1{
        font-family: "GitLab Sans", sans-serif;
        font-weight: 600;
        font-size: 32px;
        color: #434040;
      }
      .product-3 button{
        background: #00A4DF;
        border: none;
        color: white;
        width: 160px;
        height: 40px;
        border-radius: 8px;
        font-family: "GitLab Sans", sans-serif;
        font-weight: 600;
        font-size: 14px;
        margin-left: 20px;
      }
      .product-3 .see{
        color: red;
        background: none;
        border: 2px solid #00A4DF;
        color: #00688D;
        margin-left: auto;
      }
      .product-3 .see:hover{
        background: #00A4DF;
        color: white;
      }
      
}