@media (max-width: 1440px){
  .sale-banner {
      justify-content: center;
      background: linear-gradient(180deg, #00A4DF 0%, #0086B6 138.5%);
    
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #f9c;
        z-index: 9999;

    }
    
    .text {
      text-align: center;
      color: white;
      font-size: 18px;
      font-weight: 600;
      font-family: "GitLab Sans", sans-serif;
    }
}