@media (max-width: 1440px){
    .sale-banner {
        justify-content: center;
        background: linear-gradient(180deg, #00A4DF 0%, #0086B6 138.5%);
        z-index: 1000;
        overflow: hidden;
        display: flex;
      }
      
      .text {
        text-align: center;
        color: #FAFAFA;
        font-size: 18px;
        font-weight: 600;
        font-family: "GitLab Sans", sans-serif;
        animation: moveText 10s linear infinite;
      }

      @keyframes moveText {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(-100%);
        }
      }
}